.login-toggle {
  cursor: pointer;
  /* font-size: 13px; */
  border: 2px solid black;
  border-radius: 9999px;
  padding: 5px;
}

.login-toggle:active {
  cursor: pointer;
  background-color:black;
  border: 2px solid black;
  border-radius: 9999px;
  padding: 5px;
  color: white;
}


.ascii-banner {
  font-family: monospace;
  font-size: 7.5px;
  line-height: 1;
  text-align: center;
}

@media (max-width: 480px) {
  .ascii-banner {
    font-size: 4px;
  }
}

#root {
  margin: 0;
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
}

main {
  margin: 0;
  padding: 0 1rem 0 1rem;
}

.logo {
  height: 2.7em;
  will-change: filter;
  transition: filter 300ms;
}
